.wrapper {
	padding-top: 8px;
	padding-bottom: 48px;

	@include media(tablet) {
		padding-top: 16px;
	}
	@include media(desktop) {
		padding-bottom: 76px;
	}
}

.mainContent {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 16px;

	@include media(tablet) {
		gap: 24px;
		margin-bottom: 32px;
	}
	@include media(desktop) {
		gap: 48px;
		flex-direction: row;
	}
}

// .image {
// 	width: 100%;
// 	height: 240px !important;
// 	background-color: $img-backdrop-color;
// 	border-radius: 22px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;

// 	@include media(mobile) {
// 		width: 370px !important;
// 	}
// 	@include media(tablet) {
// 		width: 688px;
// 		height: 360px;
// 	}
// 	@include media(desktop) {
// 		width: 526px !important;
// 	}
// }

.icon {
	width: 36px;
	height: 36px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@include media(tablet) {
		gap: 18px;
	}
}

.title {
	@include font(32, 40);
	font-family: $secondary-font-family;

	@include media(tablet) {
		@include font(40, 48);
	}
	@include media(desktop) {
		@include font(48, 56);
	}
}

.status {
	display: flex;
	gap: 12px;
	align-items: center;
}

.status > span {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $primary-text-color;
}

.status > p {
	@include font(18, 27);
	font-family: $primary-font-family;

	@include media(tablet) {
		@include font(16, 24);
	}
	@include media(desktop) {
		@include font(18, 27);
	}
}

.description {
	display: flex;
	flex-direction: column;
	gap: 8px;

	@include media(tablet) {
		gap: 16px;
	}
	@include media(desktop) {
		gap: 8px;
	}
}

.description > p {
	@include font(16, 24);
	font-family: $primary-font-family;
	font-weight: 400;

	@include media(desktop) {
		@include font(18, 27);
		max-width: 722px;
	}
}

.importance {
	background-color: $collection-importance;
	border-radius: 24px;
	padding: 4px 12px;
	width: max-content;
	display: flex;
	align-items: center;
	gap: 16px;
	font-weight: 600;
	@include font(16, 24);

	color: $collection-importance-text;

	&::before {
		content: "";
		width: 8px;
		height: 8px;
		background-color: $collection-importance-text;
		display: block;
		border-radius: 100%;
	}
}
.nonUrgent {
	background-color: #f5faf5;
	border-radius: 24px;
	padding: 4px 12px;
	width: max-content;
	display: flex;
	align-items: center;
	gap: 16px;
	font-weight: 600;
	@include font(16, 24);

	color: $progress-bar-line;

	&::before {
		content: "";
		width: 8px;
		height: 8px;
		background-color: $progress-bar-line;
		display: block;
		border-radius: 100%;
	}
}
.imageWrapper {
	position: relative;
	border-radius: 22px;
	background: #ddd;
	width: 100%;
	aspect-ratio: 16 / 11.35;
	height: auto;
	max-height: 360px;
	overflow: hidden;

	@include media(mobile) {
		width: 370px;
	}
	@include media(tablet) {
		width: 688px;
		height: 360px;
	}
	@include media(desktop) {
		width: 526px;
	}
}
.image {
	object-fit: cover;
}
