@import '@/shared/styles/mixins';

.button {
  font-family: $primary-font-family;
  font-weight: 600;
  color: $violet-ui-text-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  @include font(16, 24);
  border: none;
  background: transparent;
  width: 100%;
  transition: all 0.3s ease;

  @include media(desktop) {
    height: 64px;
    @include font(20, 30);
  }
}

.icon {
  fill: transparent;
  stroke: #7e00cc;
  transition:
    transform 0.3s ease,
    stroke 0.3s ease;
}

.accordion {
  width: 100%;
  max-height: 44px;
  border: 2px solid $violet-ui-text-color;
  border-radius: 60px;
  overflow: hidden;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;

  @include media(tablet) {
    width: 452px;
    padding: 17px 20px;
  }

  @include media(desktop) {
    width: 636px;
    max-height: 64px;
    padding: 17px 20px;
  }

  &.open {
    border-radius: 32px;
    max-height: 800px;
    padding: 17px 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  gap: 18px;
}
