.card {
  width: 100%;
  background-color: $team_cards_bg;
  padding: 16px;
  border-radius: 22px;

  @include media(mobile) {
    width: 370px;
  }
  @include media(tablet) {
    width: 332px;
    height: 306px;
    padding: 20px;
  }
  @include media(desktop) {
    width: 416px;
    height: 368px;
  }
}

.info {
  display: flex;
  gap: 12px;

  @include media(tablet) {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #d9d9d9;
  flex-shrink: 0;
  overflow: hidden;
  @include media(tablet) {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include media(desktop) {
    width: 120px;
    height: 120px;
  }
}

.icon-non-image {
  display: none;

  @include media(tablet) {
    display: block;
    width: 29px;
    height: 29px;
    fill: #444444;
  }
  @include media(desktop) {
    width: 36px;
    height: 36px;
  }
}

.title {
  text-align: left;

  @include media(tablet) {
    text-align: center;
  }
}

.title > p {
  @include font(20, 30);
  font-family: $primary-font-family;
  margin-bottom: 4px;
}

.title > span {
  @include font(14, 22);
  font-family: $primary-font-family;
  font-weight: 400;

  @include media(tablet) {
    @include font(16, 24);
  }
}

.description {
  @include font(14, 22);
  font-family: $primary-font-family;
  font-weight: 400;
  font-style: italic;
  margin-top: 12px;
  text-align: center;

  @include media(desktop) {
    @include font(18, 27);
  }
}
.imageWrapper {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;

  @include media(tablet) {
    width: 96px;
    height: 96px;
  }
  @include media(desktop) {
    width: 120px;
    height: 120px;
  }
}
