.modalContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  @include media(tablet) {
    margin-bottom: 32px;
    gap: 16px;
  }

  @include media(desktop) {
    margin-bottom: 48px;
    gap: 24px;
  }
}

.modalTitle {
  width: 262px;
  font-family: Montserrat, sans-serif;
  @include font(24, 28);
  font-weight: 700;

  @include media(tablet) {
    width: auto;
  }

  @include media(desktop) {
    @include font(32, 40);
  }
}

.modalText {
  @include font(16, 24);
  font-weight: 400;

  @include media(tablet) {
    @include font(18, 27);
  }
}
