.legalInfoSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navLink {
  @include font(18, 27);
  font-weight: 600;
  align-self: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  @include font(18, 27);
  font-weight: 600;
}

.text {
  @include font(16, 24);
  font-style: normal;
  font-weight: 400;
  color: $footer-text-color;
}

.toLine {
  display: flex;
  column-gap: 4px;
  flex-wrap: wrap;
}

.key {
  flex-shrink: 0;
}

.value {
  flex-shrink: 0;
  letter-spacing: 0.02em;
}
