@import '../../../../shared/styles/mixins';
@import '../../../../shared/styles/variables';

.ContentContainer {
  background-color: #b3b3b3;
  padding: 16px 16px 24px 16px;
  border-radius: 32px;
  max-width: 370px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(tablet) {
    max-width: 332px;
    padding: 20px 20px 28px 20px;
    gap: 16px;
  }

  @include media(desktop) {
    max-width: 416px;
  }
}

.collectionImg {
  position: relative;
  border-radius: 22px;
  background: #ddd;
  max-width: 338px;
  height: 240px;

  @include media(tablet) {
    max-width: 292px;
  }

  @include media(desktop) {
    max-width: 376px;
  }
}

.importance {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: black;
    display: block;
    border-radius: 100%;
  }
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(tablet) {
    gap: 28px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media(tablet) {
      gap: 32px;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  font-family: $secondary-font-family;
  padding-top: 16px;

  @include media(tablet) {
    padding-top: 20px;
  }

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.16667;
  }
}

.desc,
.peopleDonate {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
