.section {
  max-width: 100%;
  padding: 48px 0 96px;

  @include media(mobile) {
    width: 100%;
  }

  @include media(desktop) {
    padding: 76px 0 152px;
  }
}
.content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  box-shadow: 0 0 20px 2px rgba(71, 0, 123, 0.08);
  border-radius: 32px;

  @include media(tablet) {
    gap: 32px;
  }

  @include media(desktop) {
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9.9;
  border-radius: 22px;
  overflow: hidden;

  @include media(mobile) {
    height: 234px;
  }

  @include media(tablet) {
    height: 400px;
  }

  @include media(desktop) {
    width: 616px;
    height: 560px;
    flex-shrink: 0;
  }
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(tablet) {
    gap: 44px;
  }

  @include media(desktop) {
    gap: 64px;
  }
}

.title {
  font-family: $secondary-font-family;
  @include font(20, 28);
  font-weight: 700;
  color: $secondary-text-color;
  text-align: center;

  @include media(tablet) {
    @include font(24, 34);
    white-space: pre-line;
  }

  @include media(desktop) {
    @include font(32, 40);
  }
}

.button {
  width: 100%;

  @include media(tablet) {
    margin: 0 auto;
    width: 385px;
  }
}
