#Way For Pay Test config params
WAYFORPAY_KEY=flk3409refn54t54t*FNJRET
WAYFORPAY_MERCHANT_NAME=test_merch_n1
WAYFORPAY_MERCHANT_DOMAIN=www.market.ua

#Telegram credentials
TELEGRAM_TOKEN =7131982264:AAFCBElL7nO0fyYrEqT6xtTdaSDCdcyvX-Q
TELEGRAM_CHAT_ID =-1002035456021

#SendPulse credentials
SENDPULSE_CLIENT_ID=
SENDPULSE_CLIENT_SECRET=
SENDPULSE_SENDER_EMAIL=
SENDPULSE_SENDER_NAME=

MONGODB_URI= 'total way'

# CLOUDINARY
API_KEY= 'example'
API_SECRET='example'
CLOUD_NAME='example'

APP_DOMAIN=http://localhost:3000  ' now it's local server'
ENABLE_CLOUDINARY=true

