.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  @include media(tablet) {
    flex-direction: row;
    justify-content: flex-start;
  }

  .buttonSize {
    width: 100%;

    @include media(tablet) {
      width: 332px;
    }
  }
}