@import '@/shared/styles/mixins';
@import '../../../../shared/styles/colors';

.title {
  font-family: $secondary-font-family;
  font-weight: 700;
  @include font(24, 28);
  text-align: center;
  color: $primary-text-color;
  margin-bottom: 48px;

  @include media(desktop) {
    @include font(40, 48);
  }
}

.amount {
  font-family: $secondary-font-family;
  font-weight: 700;
  color: $primary-text-color;
  margin-bottom: 8px;
  @include font(32, 36);
  @include media(tablet) {
    margin-bottom: 8px;
  }
  @include media(desktop) {
    @include font(48, 54);
    white-space: nowrap;
    margin-bottom: 8px;
  }
}

.description {
  font-family: $primary-font-family;
  font-weight: 400;
  color: $secondary-text-color;
  @include font(16, 24);
}

.containerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  padding: 32px 16px;
  max-width: 370px;
  background: $card_beige_bg;

  @include media(tablet) {
    padding: 40px 0;
    width: 688px;
    max-width: none;
  }

  @include media(desktop) {
    padding: 40px;
    width: 1296px;
  }
}

.infoCards {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  flex-wrap: wrap;

  @include media(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  @include media(desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @include media(tablet) {
    width: 306px;
  }
}
