.customPagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 24px;

  @include media(tablet) {
    padding-top: 32px;
  }

  @include media(desktop) {
    padding-top: 48px;
  }
}

.paginationDot {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: $swiper-inactive-dots-color;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: $swiper-active-dots-color;
}
