@import '../../styles/variables';
@import '../../styles/colors';

.inputContainer {
  position: relative;
  width: 100%;
}

.label {
  align-self: stretch;
  color: $secondary-text-color;
  font-family: $primary-font-family;
  @include font(16, 24);
  font-weight: 700;
}

.inputWrapper {
  position: relative;
  align-items: center;
}

.input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  @include font(16, 24);
  font-weight: 400;

  &::placeholder {
    font-family: $primary-font-family;
    color: $secondary-text-color;
    opacity: 0.5;
    @include font(16, 24);
    font-weight: 400;
  }
}

.currency {
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  position: absolute;
  color: $footer-bold-text-color;
  @include font(16, 24);
  font-weight: 400;
}

.error {
  color: $form-donate-error-color;
  font-weight: 400;
  @include font(16, 24);
  margin-top: 4px;
}
