.inputContainer {
  position: relative;
  width: 100%;
}

.label {
  align-self: stretch;
  color: $secondary-text-color;
  font-family: 'Open Sans';
  @include font(16, 24);
  font-weight: 700;
}

.input {
  height: 48px;
  width: 100%;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 60px;

  &::placeholder {
    color: $secondary-text-color;
    @include font(16, 24);
    font-weight: 400;
  }
}

.currency {
  position: absolute;
  top: 12px;
  right: 16px;
  @include font(16, 24);
  font-weight: 400;
}
