@import '../../styles/variables';
@import '../../styles/_colors';

.label {
  align-self: stretch;
  color: $primary-text-color;
  font-family: $primary-font-family;
  @include font(16, 24);
  font-weight: 700;
}

.input {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 60px;

  &::placeholder {
    color: $secondary-text-color;
    @include font(16, 24);
    font-weight: 400;
  }
}

.error {
  color: $form-donate-error-color;
  font-weight: 400;
  @include font(16, 24);
}
