.titleContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  margin-bottom: 12px;

  @include media(tablet) {
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  @include media(tablet) {
    margin-bottom: 18px;
  }

  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.icon {
  fill: none;
  stroke: $orange-color;
  width: 24px;
  height: 24px;

  @include media(tablet) {
    width: 40px;
    height: 40px;
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  @include font(20, 28);

  @include media(tablet) {
    @include font(24, 28);
  }

  @include media(desktop) {
    @include font(32, 40);
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  gap: 12px;
  list-style-type: disc;
  list-style-position: inside;

  @include media(tablet) {
    padding-left: 40px;
    gap: 18px;
  }
  @include media(desktop) {
    gap: 24px;
  }
}

.item {
  color: $secondary-text-color;
  padding-left: 8px;
  height: 24px;
  align-self: stretch;
  font-weight: 400;
  @include font(16, 24);

  @include media(tablet) {
    padding-left: 12px;
  }

  @include media(desktop) {
    @include font(18, 27);
  }
}
