.copyIcon {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.icon {
  fill: $payment-text-color;
  transition: transform 0.2s ease;
}

.copyIcon:hover .icon {
  transform: scale(1.1);
}

.error {
  color: #f44336 !important;
}

.containerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  font-family: $primary-font-family;
  font-weight: 400;
  color: $payment-text-color;
  @include font(16, 24);
  display: flex;
  align-items: center;
  word-break: break-word;
}
