.label {
  align-self: stretch;
  color: $secondary-text-color;
  @include font(16, 24);
  font-weight: 700;
}

.textArea {
  width: 100%;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 24px;
  border: none;
  background-color: $footer-input-bg-color;
  resize: none;
  overflow: hidden;

  &::placeholder {
    color: $secondary-text-color;
    @include font(16, 24);
    font-weight: 400;
  }
}

.textAreaFooter {
  @include media(tablet) {
    background-color: transparent;
    border: 1px solid $border-gray-color;

    &::placeholder {
      color: $primary-text-color;
    }
  }
}
