.mobileMenu {
  position: absolute;
  display: flex;
  top: 85px;
  left: 0;
  padding: 16px;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: calc(100% - 85px);
  background-color: $primary-bg-color;
  z-index: 9999;
  overflow: hidden;
  transform: translateX(-150%);
  transition: all 0.3s;
  @include media(tablet) {
    padding: 48px 40px;
  }

  .langBlock {
    display: flex;
    gap: 16px;
    @include media(tablet) {
      display: none;
    }
  }
  .langIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .nav {
    display: flex;
  }
  .navList {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .navLink {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: $secondary-text-color;
    transition: color 0.3s ease-in-out;
  }

  .navLink:hover,
  .navLink:focus {
    color: $violet-ui-text-color;
  }

  .active {
    color: $violet-ui-text-color;
  }
  .socials {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .socialLink {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 100%;
    padding: 8px;
    background-color: $footer-input-bg-color;
  }
  .socialsIcon {
    width: 24px;
    height: 24px;
    fill: #9d40e0;
  }
}

.visible {
  transform: translateX(0px);
  transition: all 0.3s;
}
