.mobileMenu {
  position: fixed;
  display: flex;
  top: 80px;
  flex-direction: column;
  gap: 32px;
  width: 100vw;
  height: 100vh;
  background-color: $primary-bg-color;
  z-index: 9999;
  overflow: hidden;
  transform: translateX(-150%);
  transition: all 0.3s;

  .nav {
    display: flex;
  }
  .navList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: $secondary-text-color;
  }
  .active {
    color: $violet-ui-text-color;
  }
  .socials {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .socialLink {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 100%;
    padding: 6px;
    background-color: $footer-input-bg-color;
  }
  .socialsIcon {
    width: 24px;
    height: 24px;
    fill: #9d40e0;
  }
}

.visible {
  transform: translateX(0);
  transition: all 0.3s;
}
