.logo {
  display: flex;
  gap: 16px;

  .mobileMenuBtn {
    padding: 0px;
    background-color: transparent;
    border: none;
  }
  .mobileMenuIcon {
    width: 32px;
    height: 32px;
    stroke: $secondary-text-color;
  }
  .iconLogo {
    width: 48px;
    height: 48px;
  }
  @include media(mobile) {
  }

  @include media(to-tablet) {
  }

  @include media(tablet) {
  }

  @include media(to-desktop) {
  }

  @include media(desktop) {
    .mobileMenuBtn {
      display: none;
    }
    .desktopStyle {
      display: flex;
    }
  }
}
