@import '@/shared/styles/mixins';

.containerCards {
  width: calc(100% - 32px);
  padding: 32px 60px;
  border-radius: 32px;
  box-shadow: 0 0 25px 0 rgba(71, 0, 123, 0.14);
  background-color: #fff;
  position: absolute;
  top: 155%;
  z-index: 20;
  @include media(mobile) {
    width: 100%;
    max-width: 374px;
    min-height: 344px;
    top: 150%;
  }
  @include media(tablet) {
    width: 688px;
    height: 188px;
    max-width: none;
    min-height: auto;
    padding: 40px;
    margin-top: 320px;
    display: flex;
    align-items: center;
    top: 105%;
    align-items: center;
    justify-content: center;
  }

  @include media(desktop) {
    width: 622px;
    height: 180px;
    padding: 40px;
    margin-top: 0px;
    position: absolute;
    top: 80%;
    left: 4%;
  }
}

.containerCardsTransition {
  transform: translateY(75px);
  @include media(desktop) {
    transform: translateY(0);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoCards {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  gap: 32px;

  @include media(tablet) {
    flex-direction: row;
    align-items: first baseline;
    justify-content: center;
  }

  @include media(desktop) {
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
  }
}

.amount {
  font-family: $secondary-font-family;
  @include font(32, 32);
  font-weight: 700;
  color: $main-page-hero-number;
  margin-bottom: 12px;
}

.label {
  font-family: $primary-font-family;
  @include font(16, 24);
  font-weight: 400;
  color: $secondary-text-color;

  @include media(tablet) {
    max-width: 154px;
  }
}
