.langBlock {
  width: 86px;
  height: 44px;
  position: relative;
  display: none;

  @include media(tablet) {
    display: flex;
    justify-content: center;
  }
}

.langBtn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.langIcon {
  width: 28px;
  height: 28px;
}

.langBtnIcon {
  width: 28px;
  height: 28px;
  stroke: $secondary-text-color;
  fill: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $primary-bg-color;
  border: 2px solid $footer-bg-color;
  border-radius: 5px;
  width: fit-content;
  z-index: 9999;
  overflow: hidden;
}

.languageItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: $footer-input-bg-color;
  }

  &.selected {
    background-color: $form-donate-bg-color;
  }
}

.languageItem > span {
  @include font(16, 24);
  font-family: $primary-font-family;
  font-weight: 400;
}
