@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/variables';

.section {
  padding-top: 8px;
  padding-bottom: 48px;
  @include media(desktop) {
    padding-top: 16px;
    padding-bottom: 76px;
  }
}

.title {
  margin-bottom: 32px;
  font-family: $secondary-font-family;
  font-size: 32px;
  line-height: 1.25;
  @include media(tablet) {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.2;
  }
  @include media(desktop) {
    margin-top: 48px;
    line-height: 1.16;
  }
}

.boxReporting {
  margin: 0 auto;
  text-align: center;
  @include media(tablet) {
    width: 450px;
  }
  @include media(desktop) {
    width: 636px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
  @include media(tablet) {
    margin-bottom: 40px;
  }
  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.btnReporting {
  height: 54px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  @include media(tablet) {
    height: 48px;
  }
  @include media(desktop) {
    width: 196px;
    font-size: 20px;
    font-weight: 400;
  }
}
