@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/variables';

.section {
  padding-top: 8px;
  padding-bottom: 48px;
  @include media(desktop) {
    padding-top: 16px;
    padding-bottom: 76px;
  }
}

.title {
  margin-bottom: 32px;
  font-family: $secondary-font-family;
  font-size: 32px;
  line-height: 1.25;
  @include media(tablet) {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.2;
  }
  @include media(desktop) {
    margin-bottom: 48px;
    line-height: 1.16;
  }
}

.feedbacksPlaceholder {
  min-height: 454px;

  @include media(tablet) {
    min-height: 456px;
  }

  @include media(desktop) {
    min-height: 544px;
  }
}
