.imageWrapper {
  width: 162px;
  height: 162px;
  position: relative;
  overflow: hidden;
  display: inline-block;

  @include media(tablet) {
    width: 196px;
    height: 196px;
  }
}

.partnersName {
  text-align: center;
  margin-top: 10px;
}
