
.imageContainer {
  width: 162px;
  height: 162px;
  background-color: $img-backdrop-color;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(tablet) {
    width: 196px;
    height: 196px;
  }
}

.icon {
  width: 48px;
  height: 48px;
  fill: #444444;
}
