.btnReporting {
  height: 54px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  @include media(tablet) {
    height: 48px;
  }
  @include media(desktop) {
    width: 196px;
    font-size: 20px;
    font-weight: 400;
  }
}

.btnReporting:hover {
  background: $violet-ui-text-color;
  color: $wite-text-color;
}
