.content {
  padding: 16px 16px 24px 16px;
  border-radius: 32px;
  width: 100%;
  max-width: 370px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 0 20px 0 rgba(71, 0, 123, 0.1);

  @include media(tablet) {
    max-width: 332px;
    padding: 20px 20px 28px 20px;
    gap: 16px;
  }

  @include media(desktop) {
    max-width: 416px;
    gap: 12px;
  }
}

.imageWrapper {
  position: relative;
  border-radius: 22px;
  background: #ddd;
  width: 100%;
  aspect-ratio: 16 / 11.35;
  height: auto;
  max-height: 240px;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.importance {
  background-color: $collection-importance;
  border-radius: 24px;
  padding: 4px 12px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  @include font(16, 24);

  color: $collection-importance-text;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: $collection-importance-text;
    display: block;
    border-radius: 100%;
  }
}
.nonUrgent {
  background-color: #f5faf5;
  border-radius: 24px;
  padding: 4px 12px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  @include font(16, 24);

  color: $progress-bar-line;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: $progress-bar-line;
    display: block;
    border-radius: 100%;
  }
}
@mixin importance($color) {
  color: $color;
  border-radius: 24px;
  padding: 4px 12px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  @include font(16, 24);

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: $color;
    display: block;
    border-radius: 100%;
  }
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(tablet) {
    gap: 28px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.title {
  height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 700;
  @include font(20, 28);
  font-family: $secondary-font-family;

  @include media(tablet) {
    height: 68px;
  }

  @include media(desktop) {
    @include font(24, 28);
  }
}

.desc {
  height: 102px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-weight: 400;
  @include font(16, 24);
}

.heartIcon {
  width: 24px;
  height: 24px;
  fill: $wite-text-color;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.shadow {
  padding: 6px;
  @include media(tablet) {
    padding: 8px;
  }
}
.permanent {
  @include importance($progress-bar-line);
  background-color: $progress-term-bg;
}
.urgent {
  @include importance($collection-importance-text);
  background-color: $collection-importance;
}
