.contactsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $footer-bold-text-color;
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  @include font(18, 27);
}

.text {
  font-style: normal;
  color: inherit;

  @include font(16, 24);
  font-weight: 400;
  max-width: 370px;
  color: $footer-text-color;
}

.textDecoration {
  font-style: normal;
  font-weight: 600;
  color: $footer-bold-text-color;
}

.mb-16 {
  margin-bottom: 16px;
}
