@import '@/shared/styles/mixins.scss';
@import '@/shared/styles/colors.scss';

.contactsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  @include font(18, 27);
}

.text {
  font-style: normal;
  color: inherit;
  @include font(16, 24);
  font-weight: 400;
  max-width: 370px;
  color: $footer-text-color;

  @include media(tablet) {
    color: $footer-secondary-text-color;
  }
}

.textDecoration {
  font-style: normal;
  font-weight: 600;
}

.mb-16 {
  margin-bottom: 16px;
}
