$green-color: #4caf50;
$yellow-color: #ffd700;
$light-blue-color: #81d4fa;
$orange-color: #ff9800;
$dark-blue-color: #00539c;
$pink-color: #9c27b0;
$violet-color: #6a1b9a;

$primary-text-color: #000000;
$secondary-text-color: #222222;
$wite-text-color: #ffffff;

$violet-ui-text-color: #7e00cc;

$primary-bg-color: #ffffff;

$footer-bg-color: #c0abe2;
$footer-bold-text-color: #2f0052;
$footer-text-color: #35005c;
$modal-backdrop-color: rgba(0, 0, 0, 0.7);
$footer-form-bg-color: rgba(255, 255, 255, 0.3);
$social-icons-color: rgba(255, 255, 255, 0.5);
$footer-input-bg-color: #f5f0f9;
$footer-secondary-text-color: #333333;
$footer-social-media-icon-violet-color: #6702a1;
$social-icons-dark-grey-color: #666666;
$border-gray-color: #555555;
$closed-text-color: #444;

$shadow-color: rgba(47, 0, 82, 0.1);

$swiper-active-dots-color: #000000;
$swiper-inactive-dots-color: #b3b3b3;

$img-backdrop-color: #ddd;

$form-donate-bg-color: #e0d5f1;
$radio-active-bg-color: #9d40e0;

$form-donate-error-color: #f20a0a;

//================
$collection-importance: rgba(213, 44, 26, 0.08);
$collection-importance-text: #d52c1a;

//================
$progress-bar-line: #258729;
$progress-bar-bg: rgba(37, 135, 41, 0.1);
$progress-term-bg: rgba(37, 135, 41, 0.08);
$progress-bar-numbers: #6702a1;

$progress-bar-payment-page: #d9d9d9;

//===============
$feedback_bg_color: #f4f4f4;
//================
$team_cards_bg: #f5f0f9;
//===============

$card_beige_bg: #faf2e4;
