.donateLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: $orange-color;
  border: none;
  border-radius: 60px;
  width: 177px;
  padding: 12px 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $wite-text-color;
  @include colored-button-effects-styles($orange-color, $wite-text-color);

  .heartIcon {
    width: 24px;
    height: 24px;
    fill: $primary-bg-color;
  }
}
