.contentContainer {
  display: flex;
  flex-direction: column;

  @include media(tablet) {
  }
}

.title {
  @include font(24, 28);
  font-weight: 700;
  font-family: $secondary-font-family;
  max-width: 300px;
  margin-bottom: 32px;

  @include media(tablet) {
    @include font(32, 40);
    max-width: 688px;
    margin-bottom: 40px;
  }
  @include media(desktop) {
    @include font(40, 48);
    max-width: 634px;
    margin-bottom: 48px;
  }
}

.team > h3 {
  @include font(20, 28);
  font-family: $secondary-font-family;
  margin-bottom: 24px;

  @include media(tablet) {
    @include font(24, 28);
    margin-bottom: 32px;
  }
  @include media(desktop) {
    @include font(32, 40);
    margin-bottom: 32px;
  }
}

// .team > p {
//   @include font(16, 24);
//   font-family: $primary-font-family;
//   font-weight: 400;

//   @include media(tablet) {
//     @include font(18, 27);
//   }
//   @include media(desktop) {
//     font-weight: 600;
//   }
// }

.cards {
  display: grid;
  gap: 24px;

  @include media(tablet) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -8px;
  }
  @include media(desktop) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
  }
}
