@import '@/shared/styles/mixins.scss';
@import '@/shared/styles/colors.scss';

.contactUsSection {
  @include media(tablet) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  @include media(desktop) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.formWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  border-radius: 32px;
  background-color: $footer-form-bg-color;
}

.title {
  align-self: stretch;
  color: inherit;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.submitBtn {
  margin-top: 12px;
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: none;
  background: $violet-ui-text-color;
  cursor: pointer;

  color: $wite-text-color;
  @include font(20, 30);
  font-weight: 600;

  @include media(tablet) {
    border: 2px solid $violet-ui-text-color;
    background-color: transparent;
    color: $violet-ui-text-color;
  }
}

.inputFooter {
  border: none;
  background-color: $wite-text-color;
  padding: 8px 16px;

  &::placeholder {
    color: $secondary-text-color;
  }
}

.textAreaFooter {
  border: none;
  background-color: $wite-text-color;
  padding: 16px 16px;

  &::placeholder {
    color: $secondary-text-color;
  }
}
