.title {
  margin-bottom: 12px;
}
.button {
  padding: 14px 120px;
  @include media(tablet) {
    padding: 10px 169px;
  }
  @include media(desktop) {
    padding: 14px 169px;
  }
}
.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 32px auto 96px;
  @include media(tablet) {
    margin: 40px 0 96px;
  }
  @include media(desktop) {
    margin: 32px 0 152px;
  }
}
