$slide-size: 38rem;
$slide-spacing: 1rem;
$slide-spacing-sm: 1.6rem;
$slide-spacing-lg: 2rem;
$spacing: calc(var(--slide-spacing) * -1);
$spacing-sm: calc(var(--slide-spacing-sm) * -1);
$spacing-lg: calc(var(--slide-spacing-lg) * -1);

.embla {
  @include media(tablet) {
    --slide-size-sm: 50%;
    --slide-spacing-sm: 1.6rem;
  }
  @include media(desktop) {
    --slide-spacing-lg: 2rem;
    --slide-size-lg: calc(100% / 3);
  }
}
.container {
  backface-visibility: hidden;
  margin-left: $spacing;

  @include media(tablet) {
    margin-left: $spacing-sm;
  }
  @include media(desktop) {
    margin-left: $spacing-lg;
  }
}
.title {
  margin-bottom: 12px;
}
.button {
  padding: 14px 146px;
  @include media(tablet) {
    padding: 10px 169px;
  }
  @include media(desktop) {
    padding: 14px 169px;
  }
}
.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 32px auto 96px;
  @include media(tablet) {
    margin: 40px 0 96px;
  }
  @include media(desktop) {
    margin: 32px 0 152px;
  }
}
