.teamWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include media(desktop) {
    gap: 16px;
  }
}

.teamInfoName {
  font-family: Montserrat, sans-serif;
  @include font(20, 28);
  font-weight: 700;
}

.teamInfoPosition {
  @include font(16, 24);
  font-weight: 400;
}
