@import '../../../../../shared/styles/colors.scss';

.section {
  padding-top: 24px;
  padding-bottom: 96px;
  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 152px;
  }
}

.boxPaymentPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include media(tablet) {
    align-items: center;
    gap: 24px;
  }
  @include media(desktop) {
    gap: 32px;
  }
}

.progressBarPaymentPage {
  height: 8px;
  background-color: $progress-bar-payment-page;
  @include media(tablet) {
    width: 688px;
  }
  @include media(desktop) {
    width: 1076px;
  }
}

.progressLinePaymentPage {
  background-color: $radio-active-bg-color;
}
