.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
  padding: 8px 0px 48px 0px;

  @include media(mobile) {
    width: 100%;
  }

  @include media(desktop) {
    flex-direction: row;
    gap: 48px;
    padding: 16px 0px 78px 0px;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10.4;
  border-radius: 32px;
  overflow: hidden;

  @include media(desktop) {
    width: 526px;
    height: 362px;
    flex-shrink: 0;
  }
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBlock {
  font-weight: 400;
  @include media(desktop) {
    font-size: 18px;
  }
}

.paragraph {
  margin-bottom: 8px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 24px;

  @include media(desktop) {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
  }
}
