@import '@/shared/styles/mixins';

.sectionPayment {
  margin-bottom: 96px;
}
.containerContent {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
.titlePayment {
  font-family: $secondary-font-family;
  font-weight: 700;
  color: $secondary-text-color;
  text-align: center;
  margin-bottom: 48px;
  @include font(32, 40);

  @include media(tablet) {
    @include font(40, 48);
  }

  @include media(desktop) {
    @include font(48, 56);
  }
}

.paymentCard {
  cursor: pointer;
  border-radius: 60px;
  padding: 12px 32px;
  width: 100%;
  max-width: 636px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $primary-font-family;
  font-weight: 600;
  @include font(16, 24);

  @include media(tablet) {
    max-width: 452px;
    height: 44px;
  }

  @include media(desktop) {
    max-width: 636px;
    height: 64px;
    @include font(20, 30);
  }
}
