.wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $final-bg-color;
}

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid $img-backdrop-color;
  border-radius: 50%;
  border-top: 8px solid $violet-color;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
