.embla {
  width: 100%;
  margin: auto;
  --slide-height: 38rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(71, 0, 123, 0.1);
  border-radius: 32px;

  @include media(tablet) {
    border-radius: 40px;
  }
  @include media(desktop) {
    border-radius: 48px;
  }
}
.container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.controls {
  margin-top: 32px;
  @include media(tablet) {
    margin-top: 40px;
  }
  @include media(desktop) {
    margin-top: 48px;
  }
}
.buttons {
  display: flex;
  align-items: center;
}
.dots {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 12px;
}
