.imageContainer {
  position: relative;
  display: flex;
  border-radius: 50%;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  border: none;
  background-color: $social-icons-dark-grey-color;

  @include media(desktop) {
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
  }
}
