@import '../../../../shared/styles/mixins';

.collectionList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@include media(tablet) {
  .collectionList {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}

@include media(desktop) {
  .collectionList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
