.section {
  padding-bottom: 96px;

  @include media(desktop) {
    padding-bottom: 152px;
  }
}

.title {
  padding-bottom: 24px;

  @include media(tablet) {
    padding-bottom: 40px;
  }

  @include media(desktop) {
    padding-bottom: 48px;
  }
}

.customSwiper {
  overflow: visible;
}
