@import '../../../../shared/styles/mixins';

.mainContainer {
  padding: 0 16px;

  @include media(mobile) {
  }

  @include media(tablet) {
    padding: 0 40px;
    max-width: 768px;
    margin: 0 auto;
  }

  @include media(desktop) {
    padding: 0 72px;
    max-width: 1440px;
  }

  .customSwiper {
    overflow: visible;
  }
}

.title {
  max-width: 300px;
  margin-bottom: 32px;
}
