.title {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 24px;
}

// to remove -Start
.iconTest {
  width: 200px;
  height: 200px;
}

.iconTestWithSprite {
  width: 100px;
  height: 100px;
  stroke: red;
  fill: none;
}
// to remove -End
