@import '/src/shared/styles/mixins';
@import '/src/shared/styles/colors';

.card {
  width: 370px;
  height: 336px;
  background-color: $swiper-inactive-dots-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 32px;

  @include media(tablet) {
    width: 332px;
    height: 348px;
  }
  @include media(desktop) {
    width: 306px;
  }
}

.logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 10px solid $primary-bg-color;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.icon-support {
  width: 105px;
  height: 75px;
  position: relative;
  top: 30px;
  left: 8px;
}

.icon-hand {
  width: 93px;
  height: 89px;
  position: relative;
  top: 16px;
  left: 13px;
}

.icon-animal-paw {
  width: 88px;
  height: 84px;
  position: relative;
  top: 24px;
  left: 16px;
}

.icon-house {
  width: 83px;
  height: 79px;
  position: relative;
  top: 21px;
  left: 18px;
}

.card > h3 {
  @include font(18, 27);
  font-weight: 600;
  max-width: 266px;
  text-align: center;
}

.card > p {
  @include font(16, 24);
  font-weight: 400;
  max-width: 322px;
  text-align: center;

  @include media(tablet) {
    max-width: 266px;
  }
}
