@import '../../../../shared/styles/_mixins';

.mainProgressContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.targetContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  .targetText {
    font-weight: 400;
    @include font(16, 24);
    display: flex;
    flex-direction: column;

    .counts {
      font-weight: 700;
      @include font(20, 28);
      font-family: $secondary-font-family;
      line-height: 1.4;
      color: $progress-bar-numbers;
      margin-top: 8px;
    }
  }
}

.targetContainer p:last-child {
  text-align: right;
}

.progressContainer {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;

  @include media(mobile) {
    gap: 24px;
  }
}

.bar {
  width: 100%;
  height: 12px;
  background-color: $progress-bar-bg;
}

.rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.progressLine {
  background-color: $progress-bar-line;
}
