@import '@/shared/styles/colors.scss';
@import '@/shared/styles/mixins.scss';

.teamList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 44px;

  @include media(tablet) {
    gap: 32px;
  }

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.teamItem {
  display: grid;
  grid-template-columns: 100px max-content;
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  column-gap: 8px;

  @include media(tablet) {
    grid-template-columns: 200px max-content;
    gap: 24px;
  }
}

.socialIconsItemTeam {
  fill: $wite-text-color;
}
